<div class="btn">
    <input type="button" value = '7' (click) = "handleClick(7)">
    <input type="button" value = '8' (click) = "handleClick(8)">
    <input type="button" value = '9' (click) = "handleClick(9)">
    <input type="button" value = 'x' (click) = "handleClick('*')">
    <br>
    <input type="button" value = '4' (click) = "handleClick(4)">
    <input type="button" value = '5' (click) = "handleClick(5)">
    <input type="button" value = '6' (click) = "handleClick(6)">
    <input type="button" value = '-' (click) = "handleClick('-')">
    <br>
    <input type="button" value = '1' (click) = "handleClick(1)">
    <input type="button" value = '2' (click) = "handleClick(2)">
    <input type="button" value = '3' (click) = "handleClick(3)">
    <input type="button" value = '+' (click) = "handleClick('+')">
    <br>
    <input type="button" value = 'C'(click) = "handleClick('C')">
    <input type="button" value = '0' (click) = "handleClick(0)">
    <input type="button" value = '=' (click) = "handleClick('=')">
    <input type="button" value = '/' (click) = "handleClick('/')">
 </div>
