<div class="container">
    <div class="row justify-content-center align-items-center g-2">
        @for (country of countries; track $index) {
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="card">
                <!-- <img class="card-img-top" src="holder.js/100x180/" alt="Title" /> -->
                <div class="card-body">
                    <h4 class="card-title">{{country.commonName}}</h4>
                    <p class="card-text">{{country.capital}}</p>
                    <p class="card-text">Population: {{country.population}}</p>
                    <p class="card-text">Area: {{country.area}}</p>
                    <p class="card-text" [innerHTML]="country.flag"></p>
                </div>
            </div>

        </div>
        }
    </div>

</div>