<div class="container">
    <div
        class="row justify-content-center align-items-center g-2"
    >
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <img class="card-img-top mx-auto mt-3" [src]="correctCountry.flagPNG" alt="?" style="width: 360px" />
                <div class="card-body">
                    <!-- @if (responded === true) {
                    <h4 class="card-title">Title</h4>
                    } -->
                    <div class="d-grid gap-2">
                        @for (country of gameCountries; track $index) {
                        <button [class]="buttonsClass[$index]" type="button" (click)="handleButton(country, $index)" [disabled]="responded">{{country.commonName}}</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    

</div>