<div class="container">
    <h2>Score: <span class="badge bg-primary">{{score}}</span></h2>

    <div class="row justify-content-center align-items-center g-2">
        <div class="col-3"></div>
        <div class="col-6">
            <app-country-card [countries]="gameCountries" (onRightAnswer)="handleAnswer($event)"></app-country-card>
        </div>
        <div class="col-3"></div>
    </div>
    <button type="button" class="btn btn-primary" (click)="handleNext()">
        Next
    </button>



</div>